.arrowNextIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('https://scdn.zalopay.com.vn/zst/zpi/images/telco/icons_v2/web_payment/arrow_next.svg')
    no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.infoIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  background: url('https://scdn.zalopay.com.vn/zst/zpi/images/telco/icons_v2/web_payment/info.svg')
    no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.supportIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  background: url('https://scdn.zalopay.com.vn/zst/zpi/images/telco/icons_v2/web_payment/support.svg')
    no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.warningIcon {
  display: inline-block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  background: url('https://scdn.zalopay.com.vn/zst/zpi/images/telco/icons_v2/web_payment/warning.svg')
    no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.backIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('https://scdn.zalopay.com.vn/zst/zpi/images/telco/icons_v2/web_payment/arrow_back.svg')
    no-repeat center;
  background-size: contain;
  cursor: pointer;
}

// .upIcon {
//   display: inline-block;
//   width: 24px;
//   height: 24px;
//   margin-left: 8px;
//   background: url('https://scdn.zalopay.com.vn/zst/zpi/images/telco/icons_v2/web_payment/primary_arrow_up.svg')
//     no-repeat center;
//   background-size: contain;
//   cursor: pointer;
// }

// .downIcon {
//   display: inline-block;
//   width: 24px;
//   height: 24px;
//   margin-left: 8px;
//   background: url('https://scdn.zalopay.com.vn/zst/zpi/images/telco/icons_v2/web_payment/primary_arrow_down.svg')
//     no-repeat center;
//   background-size: contain;
//   cursor: pointer;
// }
