.clearIcon {
  cursor: pointer;
  display: inline-block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  background: url('/images/icons/circle_close.svg') no-repeat center;
  background-size: contain;
}
