.closeIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background: url('https://scdn.zalopay.com.vn/zst/zpi/images/telco/icons_v2/web_payment/close.svg')
    no-repeat center;
  background-size: contain;
  cursor: pointer;
}
